<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmeldeseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login/style.css') }}"> <!-- Verlinke deine CSS-Datei -->
</head>
<body>
    <div class="container">
        <h1>Anmeldung</h1>
        <form id="loginForm" action="{{ url_for('login') }}" method="post">
            <div class="input-group">
                <label for="username">Benutzername:</label>
                <input type="text" id="username" name="username" required>
           
            </div>
            <div class="input-group">
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" required>
            </div>    
            <button type="submit">Anmelden</button>
        </form>
        <p id="message"></p>
        <center> <a href = "index.html"> Zurück </a> </center>
    </div>
    <!-- <script src="{{ url_for('static', filename='login/script.js') }}"></script> -->
</body>
</html>