<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nachhilfe Anfrage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='anfrage/style.css') }}"> <!-- Verlinke deine CSS-Datei -->
</head>
<body>

  <div class="form-container">
    <h1>Nachhilfe Anfrage</h1>
    <form method="post" action="{{ url_for('create_offer') }}">
      <label for="name">Vorname:</label>
      <input type="text" id="name" name="name" required style="width: 80%;">

      <label for="nachname">Nachname:</label>
      <input type="text" id="nachname" name="nachname" required style="width: 80%;">

      <label for="geschlecht">Geschlecht:</label>
      <select id="geschlecht" name="geschlecht" required style="width: 82.2%;">
        <option value="">Bitte wählen...</option>
        <option value="männlich">Männlich</option>
        <option value="weiblich">Weiblich</option>
        <option value="divers">Divers</option>
      </select>

      <label for="fach">Fach:</label>
      <select id="fach" name="fach" required style="width: 82.2%;">
        <option value="">Bitte wählen...</option>
        <option value="Deutsch">Deutsch</option>
        <option value="Englisch">Englisch</option>       
        <option value="Latein">Latein</option>
        <option value="Französisch">Französisch</option>
        <option value="Spanisch">Spanisch</option>
        <option value="Mathematik">Mathematik</option>
        <option value="Physik">Physik</option>
        <option value="Chemie">Chemie</option>
        <option value="Biologie">Biologie</option>
        <option value="Informatik">Informatik</option>
        <option value="Geschichte">Geschichte</option>
        <option value="Geographie">Geographie</option>
        <option value="Wirtschaft und Recht">Wirtschaft und Recht</option>
        <option value="Politik und Gesellschaft">Politik und Gesellschaft</option>
        <option value="Musik">Musik</option>
      </select>

      <label for="wohnort">Wohnort:</label>
      <input type="text" id="wohnort" name="wohnort" required style="width: 80%;">

      <label for="stunden">Stundenanzahl pro Woche:</label>
      <input type="number" id="stunden" name="stunden" required min="1" max="20" style="width: 80%;">

      <label for="klassenstufe">Klassenstufe:</label>
      <input type="number" id="klassenstufe" name="klassenstufe" required min="5" max="13" style="width: 80%;">

      <label for="dringlichkeit">Dringlichkeit:</label>
      <select id="dringlichkeit" name="dringlichkeit" required style="width: 82.2%;">
        <option value="">Bitte wählen...</option>
        <option value="niedrig">Niedrig</option>
        <option value="mittel">Mittel (Auf Eigenbedarf)</option>
        <option value="hoch">Hoch (In der nächsten Zeit Prüfung)</option>
      </select>

      <label for="kontakt">Kontaktdaten (Telefon oder E-Mail):</label>
      <input type="text" id="kontakt" name="kontakt" required style="width: 80%;">

    <div class="agb-container">
      <input type="checkbox" id="agb" name="agb" required>
        <label for="agb">
            Ich habe die <a href="{{ url_for('agb') }}" target="_blank">AGB</a> gelesen und akzeptiere sie.
        </label>
    </div>

      <button type="submit" style="width: 80%;">Anfrage Absenden</button>
    </form>

    <a href="{{ url_for('home') }}" class="button">Zurück zur Startseite</a> | <a href="{{ url_for('impressum') }}">Impressum</a></p>

  </div>
  
  <script src="{{ url_for('static', filename='anfrage/script.js') }}"></script>

</body>
</html>
