<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optionen Auswahl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}"> <!-- Verlinke deine CSS-Datei -->
</head>
<body>
    <div class="container">
        <h1>Willkommen auf der Startseite!!</h1>
        <p>Bitte wählen Sie eine Option:</p>
        <div class="button-group">
            <a href="{{ url_for('login') }}" class="button">Login</a> <!-- Link zur Login-Seite -->
            <a href="{{ url_for('create_offer') }}" class="button">Anfrage</a> <!-- Link zur Anfrage-Seite -->
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="message">
            {% for msg in messages %}
              <p>{{ msg }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
        <div class="container1">
            <p><a href="impressum.html" target="_blank" class="impressum-link">Impressum</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index/script.js') }}"></script> 
</body>
</html>
