<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Willkommen bei der Schülernachhilfe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logoFinish.svg') }}">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='images/logoFinish.svg') }}" alt="Logo" class="logo" />
    <h1>Willkommen bei der Schülernachhilfe!</h1>
    <p class="subtitle">Wenn Sie auf der Suche nach Nachhilfe sind, klicken Sie auf "Anfrage":</p>

    <div class="button-group">
      <a href="{{ url_for('login') }}" class="button">Login</a>
      <a href="{{ url_for('create_offer') }}" class="button secondary">Anfrage</a>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="message">
          {% for msg in messages %}
            <p>{{ msg }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  
<hr class="custom-hr">

<div class="agb-box">
  <a href="{{ url_for('agb') }}" target="_blank">Allgemeine Geschäftsbedingungen (AGB)</a>
  <a href="{{ url_for('impressum') }}" target="_blank">
    Impressum</a>
</div>
</div>

</div>


  <script src="{{ url_for('static', filename='index/script.js') }}"></script>
</body>
</html>
